/* music__wrap
        + music__inner
            + music__header
            + music__contents
                + music__view
                + music__control
            + music__footer
*/

html{
	background-image: url(../img/bg.gif);
	background-size: cover;
	height: 100%;

}

.music__inner {
    width: 350px;
    background: rgba(57, 116, 243, 0.5);
    backdrop-filter: blur(20px);
    position: absolute;
    right: 10%;
    /* top: 100%; */
    transform: translate(50%, 10%);
    padding: 20px 22px;
    border-radius: 20px;
    box-shadow: 0 60px 100px rgba(0,0,0,0.4);
}
.music__header {
}
.music__header h2 {
    text-align: center;
    font-size: 14px;
    padding-top: 3px;
    font-family: 'Poppins';
    font-weight: 200;
}
.music__header .left {}
.music__header .right {}
.music__contents {}
.music__view {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50px;
    padding: 0 20px 20px 20px;
    width: 90%;
}
.music__view .image {
}
.music__view .image img {
    border-radius: 20px;
    border: 1px solid rgba(100, 100, 100, 0.356);
    box-shadow: 0 20px 30px rgba(73, 73, 73, 0.356);
}
.music__control {
    background-color: rgba(255,255,255,0.5);
    height: 280px;
    border-radius:  15px 15px 0 0;
    margin-top: 200px;
    padding: 20px;
}
.music__control .title {
    text-align: center;
    padding-top: 90px;
}
.music__control .title h3 {
    margin-bottom: 5px;
    color: #000;
    font-size: 20px;
}
.music__control .title p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
.music__control .progress {
    background-color: #686868;
    border-radius: 5px;
    height: 5px;
}
.music__control .progress .bar {
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: #000;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__control .progress .timer span {
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    pointer-events: none;
}
.music__control .control {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.music__control .control span {
    color: #000;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.music__control .control span:active{
    background-color: #eaeaea;
    border-radius: 50px;
}
.music__control .control span i {
    width: 40px;
    height: 40px;
    display: block;
    
    background-image: url(../img/music_icon.svg);
}
.music__control .control span i.repeat {
    background-position: 0 0;
}
.music__control .control span i.prev {
    background-position: -120px 0;
}
.music__control .control span:nth-child(3) {
    background-color: #000;
    border-radius: 50%;
}
.music__control .control span i.play {
    background-position: -160px -0px;
}
.music__control .control span i.next {
    background-position: -240px 0;
}
.music__control .control span i.list {
    background-position: -280px 0;
}
.music__control .control span i.repeat_one {
    background-position: -40px 0;
}
.music__control .control span i.shuffle {
    background-position: -80px 0;
}
.music__control .control span i.stop {
    background-position: -200px 0;
}
.music__list{
    background-color: rgba(255,255,255,0.5);
    border-radius: 0 0 15px 15px;
    padding: 20px;
    display: none;
}
.music__list.show{
    display: block;
}

.music__list h3 {
    color: black;
    position: relative;
    margin-bottom: 10px;
}
.music__list h3 .close{
    position: absolute;
    right: -10px;
    top: -10px;
    background-image: url(../img/music_icon.svg);
    background-position: -320px 0;
    width: 40px;
    height: 40px;
}
/* .music__list ul {
    height: 210px;
    overflow-y:scroll ;
} */


.music__list ul {
    height: 210px;
    overflow-y: scroll;
}
.music__list ul::-webkit-scrollbar {
    width: 5px;
}
.music__list ul::-webkit-scrollbar-thumb {
    height: 30%;
    background: #217AF4;
    border-radius: 10px;
}
.music__list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}
.music__list ul li {
    height: 50px;
    box-shadow: 0 60px 100px rgba(0,0,0,0.2);
    margin-bottom: 3px;
    margin-right: 5px;
    display: flex;
    border-radius: 5px;
}
.music__list ul li.playing{
    background-color: rgba(255,255,255,0.2);
}
.music__list ul li .img {
    width: 50px;
}
.music__list ul li .img img{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-right: 3px;
}
.music__list ul li .info__music{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 59%;
    height: 50px;
}
.music__list ul li .info__music .title{
    width: 100%;
    height: 25px;
    font-size: 17px;
}

.music__list ul li .info__music .artist{
    height: 25px;
    width: 100%;
    font-size: 14px;
}
.music__list ul li .time{
    width: 20%;
    height: 50px;
    margin: 15px 0;
    /* padding: 20px; */
}